h1 
{
    font-family:arial;
    color:#555555;
    font-size:20pt;
}

form
{
    margin:30px auto auto auto;
    padding:20px;
    
    border:1px solid #333333;
    font-family:arial;
    color:#333333;
    width:500px;
    background-color:#EEEEEE;
}

input
{
    margin-bottom:40px;
}


button
{
    margin-top:20px;
    width:100px;
    height:40px;
    background-color:#c2e0FF;
    border-radius:15px;
    font-weight:bold;
}

.errorMessage
{
    color:red;
    width:200px;
    font-size:10pt;
    float:right;
    margin-right:100px;
    margin-top:-2px;
}

/*Klasser som visar om indata är ok eller inte efter validering*/
.correct
{
    background-color:#77ff77;
    border:1px solid green;
}
.incorrect
{
    background-color:#ff7777;
    border:3px solid red;
}

