
/*Allmänt*/
html
{
    height:100%;
}

body
{
    background: -webkit-linear-gradient(top, #222222, black);
    background: -o-linear-gradient(top, #222222, black); 
    background: -moz-linear-gradient(top, #222222, black); 
    background: linear-gradient(to top, #222222, black);
    
    background-repeat:no-repeat;
    background-color:#222222;
}

header
{
    margin-top:50px;
    height:100px;
    background-image:url('logo.png');
    background-repeat:no-repeat;
}


#container
{
    overflow:auto;
    
    border-radius:20px;
    
    max-width:500px;
    margin:auto;
}

#message_board
{
    min-height:120px;
}

#form form
{
    margin:auto;
    width:90%;
}



/*textfältet*/
#new_message
{
    width:100%;
    height:160px;
    
    font-family:tahoma;
    font-size:12pt;
    line-height:120%;
    
    border-radius:10px;
    border:1pt solid #AAAAAA;
    
    background-color:#FFD8AB;
}

#new_message:focus
{
    outline: none;
    border:1pt solid #FFFFFF;
    background-color:white;
}



/*Knappen*/
#form button
{
    background-color:#ff7f00;
    border:none;
    border-radius:10px;
    width:100px;
    height:40px;
    
    font-weight:bold;
    font-size:13pt;
    font-family:tahoma;
    
    float:right;
}

#form button:hover
{
    text-decoration:underline;    
    background-color:#ff9933;
}

#form button:active
{
    text-decoration:underline;    
    background-color:#ff7f00;
}

#form button:focus
{
    outline: none;  
    background-color:#ff9933;
}

/*Dynamisk skapat innehåll*/

#messageCount
{
    font-family:tahoma;
    color:white;
    margin:20px;
}

.message
{   
    font-size:13pt;
    font-family:tahoma;
    line-height:120%;
    color:white;
    
    border-radius:10px;
    border: solid #ff7f00;
    
    margin:20px;
    padding:10px 10px 0 10px;
}

.message .date
{
    font-size:11pt;
    font-style:italic;
    
    margin-top:10px;
}

