html
{
    height:100%;
}

body
{
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black); 
    background: -moz-linear-gradient(top, white, black); 
    background: linear-gradient(to top, #222222, black);
}

header
{
    margin-top:20px;
    height:100px;
    background-image:url('logo.png');
    background-repeat:no-repeat;
}

header h1
{
    display:none;
}



#container
{
    overflow:auto;
    
    border-radius:20px;
    
    max-width:500px;
    margin:auto;
}

#message_board
{
    min-height:120px;
}

#new_message form
{
    margin:auto;
    width:90%;
}

#new_message textarea
{
    width:100%;
    height:160px;
    
    font-family:tahoma;
    font-size:12pt;
    line-height:120%;
    
    border-radius:10px;
    border:1pt solid #AAAAAA;
}

#new_message button
{
    background-color:#ff7f00;
    border:none;
    border-radius:10px;
    width:100px;
    height:40px;
    
    font-weight:bold;
    font-size:13pt;
    font-family:tahoma;
    
    float:right;
}

#new_message button:hover
{
    text-decoration:underline;    
}